<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings >
    <add name="rbx" connectionString="Data Source=JUMKINS\SQLEXPRESS; Initial Catalog=diamalayDB; Integrated Security=True" providerName="System.Data.sqlClient"/>
  </connectionStrings>

  <!-- path="C:\Users\asus\Documents\SQL Server Management Studio" ici sont stocké les procedures -->
</configuration>